<div class="top-side-bar">
  <div class="left-top-side-bar">
	 <%= link_to "TOM" ,edit_user_path(current_user) %>
	</div>
	<div class="right-top-side-bar">
		<a href="#">チャットを作成する</a>
	</div>
</div>

<div class="main-side-bar">
  <div class="room-name">
	  <a herf="#" >techroom1</a>
	</div>
	<div class="room-name">
	 <a herf="#" >techroom2</a>
	</div>
	<h1>＜サイドバー＞</h1>
</div>