<div class="top-side-bar">
  <div class="left-top-side-bar">
	 <%= link_to current_user.name ,edit_user_path(current_user) %>
	</div>
	<div class="right-top-side-bar">
		<%=link_to "チャットを作成する" , "/rooms/new" %>
	</div>
</div>

<div class="main-side-bar">
  <% current_user.rooms.each do |room|%>
	<div class="room-name">
	 <%=link_to room.name , room_messages_path(room.id) %>
  </div>
  <%end%>
	<h1>＜サイドバー＞</h1>
</div>